.red {
    color: red;
}

.form {
    /*コレ*/text-align: left;
    border: 1px solid #999;
    padding: 10px;
    background: aquamarine;
    margin-top:10px;;
}

.todoadd {
    text-align: right;
}



.background {
    background-color: aquamarine;
    margin: 100px;
    padding: 50px;
}