.red {
    color: red;
}

.form {
    /*コレ*/text-align: left;
    border: 1px solid #999;
    padding: 10px;
    background: aquamarine;
    // margin-top:10px;;
    border-radius:10px 30px 50px 70px;
}





.background {
    background-color: aquamarine;
    margin: 100px;
    padding: 50px;
}